*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 .picture{
    text-align: center;
 }
  
 .text{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 40px;
 }
 .taka{

    margin-top: 90px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .product-section{
    margin-left: 90px;
 }
 .details{
    font-size: 30px;
 }
 .cat{
    margin-left: 90px;
 }
 .category{
    font-weight: bold;
    font-size: 30px;
    
 }
 .size{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 7px;
    margin-top: 30px;
 }
 .size-pro{
     border: 1px solid black;
     padding: 7px;
     border-radius: 10px;
 }
 hr{
    margin-top: 30px;
    margin-right: 90px;
 }
 .cart-section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;margin-top: 30px;
    gap: 20px;
 }
 button{
   color: white;
   background-color: skyblue;
   border-radius: 5px;
   padding: 10px;
   border: none;

 }
 